*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#080b18;
  color:white;
  font-family:'Segoe UI', sans-serif;
  padding-top:90px;
}

#root{
  width:100%;
  min-height:100vh;
}

a{
  text-decoration:none;
}

ul{
  list-style:none;
}

section{
  padding:80px 0;
}

.navbar{
  backdrop-filter:blur(10px);
  background: rgba(8,11,24,0.8);
}